/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverForHeader {
	@apply hover:text-blue-400 cursor-pointer;
}

.activeForMobile:active {
	color: red;
}

.MenuTransition {
	/* transform: translateY(100%); */
	transition: visibility 2s ease;
}

.darkModeIsApplied {
	@apply dark:bg-black dark:text-white;
}

.roundedCustom {
	border-top-left-radius: 150%;
	border-top-right-radius: 150%;
	border-bottom-left-radius: 450%;
	border-bottom-right-radius: 350%;
}
